.homepage {
  /*background: #333;*/
  background-image: url('../img/demo-2-bg.jpg');
  background-position: center bottom;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  min-height: 800px;
  padding-top: 75px;
}
.homepage h1.logo {
  color: #fff;
  font-size: 36px;
}
.intro {
  color: #fff;
}
