/* 
 * ==== octogone
 */
.image-octogon,
.image-octogon div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.image-octogon,
.image-octogon div {
  width: 270px;
  height: 270px;
}
.image-octogon {
  transform: rotate(45deg);
}
.image-octogon .octogon {
  transform: rotate(-45deg);
}
.image-octogon.mini {
  width: 35px !important;
  height: 35px !important;
}
.image-octogon.mini,
.image-octogon.mini div {
  width: 35px;
  height: 35px;
}
.image-octogon.tiny {
  width: 80px;
  height: 80px;
}
.image-octogon.tiny,
.image-octogon.tiny div {
  width: 80px;
  height: 80px;
}
.image-octogon.small {
  width: 150px;
  height: 150px;
}
.image-octogon.small,
.image-octogon.small div {
  width: 150px;
  height: 150px;
}
.image-octogon.large,
.image-octogon.large .image-octogon.large div {
  width: 450px;
  height: 450px;
}
