.page.profile {
  background: #f7f7f7;
  /*url(../img/black_thread.png)*/
}
.page.profile .header.segment {
  position: relative;
  z-index: 2;
  margin: 0em;
  padding-top: 53px;
  padding-bottom: 0px;
  background-color: #50514f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #FFF;
}
.page.profile .header.segment {
  color: #FFF;
}
.page.profile .header.user {
  color: #FFF !important;
  margin-left: 0px!important;
  padding-top: 15px;
}
.page.profile .statistic .value {
  color: #fff;
}
.page.profile .statistic .label {
  color: rgba(255, 255, 255, 0.4);
}
.page.profile .user.last-seen {
  display: block;
  font-size: 11px;
  color: #FFF;
}
.page.profile .user.image {
  width: 35px;
  height: 35px;
  margin-top: 10px;
}
.page.profile .left-content,
.page.profile .main-content {
  padding-top: 15px;
}
