<form ng-submit="register.doRegister()" class="ui form">
<div ng-show="register.errors._general" class="form-group has-error">
    <div class="help-block">{{register.errors._general}}</div>
</div>
<div class="form-group" ng-class="register.errors.email ? 'has-error' : ''">
    <input type="email" class="form-control" ng-model="register.email" placeholder="E-mail" />
    <div class="help-block">{{register.errors.email.join('\n')}}</div>
</div>
<div class="form-group" ng-class="register.errors.name ? 'has-error' : ''">
    <input type="text" class="form-control" ng-model="register.name" placeholder="Full Name" />
    <div class="help-block">{{register.errors.name.join('\n')}}</div>
</div>
<div class="form-group" ng-class="register.errors.password ? 'has-error' : ''">
    <input type="password" class="form-control" ng-model="register.password" placeholder="Password" />
    <div class="help-block">{{register.errors.password.join('\n')}}</div>
</div>
<p>
    <button type="submit" class="btn btn-block btn-primary btn-social" ng-disabled="register.busy.busy">
        Register
    </button>
</p>
</form>